<li>
    {{#if eaten}}
        <div class="uneaten-burger">
            {{name}}
        </div>
    {{else}}
        <div class="uneaten-burger">
            {{name}}
        </div>
        <button class="devour">Devour it!</button>
    {{/if}}
</li>