<li>
    <div class="listed-burger">
        <div class="burger-id">
            {{id}}.)
        </div> 
        {{burger_name}}
        {{#unless eaten}}
        <button class="devour" data-id="{{id}}">Devour it!</button>
        {{/unless}}
    </div>

</li>